*.pem
/backend/db/
/backend/node_modules/
/frontend/node_modules/
/frontend_react/node_modules/
/frontend_react/.vite
/backend/logs
backend/.env
*.env
/backend/Test

# Local configuration files (user-specific)
docker-compose.yml
frontend_react/nginx.conf
backend/cert/
frontend_react/cert/

# Temporary files
Temp/
*.tmp
/backend/Backups
/frontend_react/src/config.js
*.proto
