*.pem
/backend/db/
/backend/node_modules/
/frontend/node_modules/
/frontend_react/node_modules/
/frontend_react/.vite
/backend/logs
backend/.env
*.env
/backend/Test
/backend/Backups
/frontend_react/src/config.js
