PORT=3000
NODE_ENV="development"
NODE_ISLOCAL=false
VIDEO_DIR="/app/backend/Videos"
THUMB_DIR="/app/backend/Thumbs"
TEMP_DIR="/app/backend/Temp"
AVATAR_DIR="/app/backend/Avatars"
DS_SALT=thisIsASecretSaltValue
VALID_VIDEO_EXTENSIONS=.mp4,.mkv,.avi,.mov,.wmv,.flv,.webm

# CORS 權限：多個域名請用逗號分隔
FRONTEND_ORIGIN="https://gabi.com,http://localhost:8080"
VITE_DEV_SERVER_ORIGIN="http://localhost:8080"

DB_BACKUP_MAIN="/app/backups/main"
DB_BACKUP_SUB="/app/backups/sub"
