PORT=3000
NODE_ENV="development"
NODE_ISLOCAL=false
VIDEO_DIR="/app/backend/Videos"
THUMB_DIR="/app/backend/Thumbs"
TEMP_DIR="/app/backend/Temp"
AVATAR_DIR="/app/backend/Avatars"
DS_SALT=thisIsASecretSaltValue
VALID_VIDEO_EXTENSIONS=.mp4,.mkv,.avi,.mov,.wmv,.flv,.webm
